body {
    color-scheme: dark;
    background-color: rgb(15, 2, 35);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

header, footer{
    width: 80%;
    margin: auto;
    color: rgb(255, 255, 255);
}

main{
    width: 80%;
    margin: auto;
    color: rgb(255, 255, 255);
    text-align: center;
}